.box1{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    background-color: pink;
}
.box2{
    border: 5px solid black;
    height: 100px;
    width: 100px;
    background-color: pink;
    margin-left: 105px
}
.box3{
    border: 5px solid rgb(40, 234, 121);
    height: 100px;
    width: 100px;
    background-color: pink;
    margin-left: 210px
}